<h1>Listing guardturns</h1>

<table>
  <tr>
    <th>Vartiointi pvm</th>
    <th>Jno</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guardturns.each do |guardturn| %>
  <tr>
    <td><%= guardturn.vartiointi_pvm %></td>
    <td><%= guardturn.jno %></td>
    <td><%# link_to 'Show', guardturn %></td>
    <td><%# link_to 'Edit', edit_guardturn_path(guardturn) %></td>
    <td><%# link_to 'Destroy', guardturn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%# link_to 'New Guardturn', ew_guardseason_guardturn_path(@guardseason) %>
