<%= form_for(@ownership) do |f| %>
  <% if @ownership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ownership.errors.count, "error") %> prohibited this ownership from being saved:</h2>

      <ul>
      <% @ownership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
